@import "_vars"; // Импорт переменных всегда первый

.burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	&__item {
		display: block;
		width: 24px;
		height: 4px;
		background-color: $bg2;
	}
	@include media(xs) {
		display: flex;
	}
	&_close {
		display: none;
	}
}
.header {
	height: $header_height;
	background-color: $bg1;
	box-shadow: (0 4px 20px rgba(0, 48, 88, 0.1));
	&__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__close-button {
		display: none;
		margin: 0;
		&_open {
			display: block;
		}
	}
	&__logo {
		width: 128px;
		@include media(xs) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__search-form-wrap {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background-color: rgba(222, 222, 222, 0.5);
		opacity: 0;
		&_display {
			display: block;
		}
		&_visible {
			opacity: 1;
		}
	}
	&__search-form {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: $bg1;
		z-index: 1;
		max-height: 100%;
		overflow: auto;
	}
	&__menu {
		display: block;
		margin: 0;
		@include media(xs) {
			display: none;
		}
	}
	&__dropdown-menu {
		display: none;
		position: fixed;
		opacity: 0;
		transition: all 0.3s ease-out;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $bg1;
		margin-top: $header_height;
		z-index: 2;
		&_display {
			display: block;
		}
		&_visible {
			opacity: 1;
		}

	}
}
.header-menu {
	display: flex;
	padding: 0;
	margin: 0;
	&__item {
		list-style: none;
		text-transform: uppercase;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}
.header-dropdown-menu {
	color: $text2;
	font-style: normal;
	font-weight: 800;
	padding-top: 32px;
	overflow: scroll;
}
.header-dropdown-menu-main-list,
.header-dropdown-menu-second-list {
	list-style: none;
	margin: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	text-transform: uppercase;
}
.header-dropdown-menu-main-list {
	padding-bottom: 32px;
	&__item {
		display: block;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
.header-dropdown-menu-second-list {
	padding-bottom: 20px;
	&__item {
		display: block;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
.header-dropdown-menu-footer {
	display: flex;
	justify-content: space-between;
}
.header-dropdown-menu-footer-menu {
	list-style: none;
	margin: 0;
	padding: 11px 0 16px;
	&__item {
		display: block;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}

.header-form-search {
	background-color: $bg1;
	&__field {
		position: relative;
		padding: 24px 56px 0;
	}
	&__search,
	&__reset {
		position: absolute;
	}
	&__search {
		left: 0;
	}
	&__reset {
		right: 0;
	}
}
.header-search-dropdown {
	padding-top: 40px;
	padding-left: 54px;
	padding-bottom: 23px;
	@include media(xs) {
		padding-top: 23px;
		padding-left: 0;
	}
	&__title {
		margin-bottom: 19px;
	}
	&__list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@include media(xs) {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		color: $text2;
	}
	&__img {
		width: 56px;
		height: 56px;
		margin-right: 18px;
	}
}
