@import "vars"; // Импорт переменных всегда первый

.recipes-card {
	margin-bottom: 32px;
	&:hover {
		text-decoration: none;
	}
	&__inner {
		position: relative;
		margin-bottom: 32px;
		box-shadow: 0 4px 20px rgba(0, 48, 88, 0.1);
	}
	&__img {
		height: 328px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../content/recipe/recipe1.jpg");
	}
	&__description {
		height: 76px;
		color: $text4;
		padding: 16px;
	}
	&__buttons {
		display: flex;
		height: 54px;
		font-family: "FuturaFuturisC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $bg1;
		width: 50%;
		border-style: solid;
		border-top-width: 2px;
		border-right-width: 0;
		border-bottom-width: 0;
		border-left-width: 0;
		border-color: rgba(119, 155, 171, 0.1);
		color: $text2;
		outline: none;
		cursor: pointer;
		&:first-child {
			border-right-width: 2px;
		}
		&:hover {
			color: $colorHoverBtn;
		}
	}
	&__clock-icon {
		width: 19px;
		height: 19px;
		margin-right: 10px;
		margin-top: -4px;
	}
	&__tooltip {
		display: none;
		position: absolute;
		bottom: -16px;
		right: -16px;
		width: 100%;
		padding: 16px 16px 24px;
		background-color: $bg1;
		box-shadow: 0 4px 20px rgba(0, 48, 88, 0.1);
	}
	&__ingredients-list {
		list-style: none;
		padding: 0;
		margin-bottom: 25px;
	}
	&__ingredients-item {
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
	&__tooltip-title {
		color: $text2;
	}
	&__img:hover ~ &__tooltip {
		display: block;
	}
	@include media(xs) {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
