@import "_vars"; // Импорт переменных всегда первый

.search-page {
	padding-top: 32px;
	&__recipes-dashboard {
		border-width: 0 0 1px;
		border-color: #d9d9d9;
		border-style: solid;
		margin-bottom: 40px;
		padding-bottom: 64px;
		@include media(xs) {
			padding-bottom: 32px;
			margin-bottom: 24px;
		}
	}
	&__result {
		margin-bottom: 64px;
	}
	&__result-inner {
		margin-bottom: 64px;
		@include media(xs) {
			margin-bottom: 32px;
		}
	}
}
.form-free-enter {
	&__inner {
		position: relative;
		margin-bottom: 64px;
		@include media(xs) {
			margin-bottom: 32px;
		}
	}
	&__search-button {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.pagination {
	display: flex;
	justify-content: center;
	&__inner {
		display: flex;
		@include media(xs) {
			width: 100%;
			justify-content: space-between;
		}
	}
	&__list {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0 44px;
		overflow: auto;
		@include media(xs) {
			margin: 0 38px;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-right: 24px;
		}
	}
	&__number-page {
		background-color: transparent;
		border: none;
		font-family: "FuturaBookC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 25px;
		color: $text4;
		padding: 0;
		&_active {
			color: $text2;
		}
	}
	&__arrow-button {
		position: relative;
		width: 48px;
		min-width: 48px;
		height: 48px;
		border-radius: 50%;
		border: none;
		background: #e5f0f5;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 20px;
			left: 20px;
			width: 8px;
			height: 8px;
			box-sizing: border-box;
			border-color: $bg2;
			border-style: solid;
			border-width: 0 3px 3px 0;
		}
		&_right {
			&:before {
				transform: rotate(-45deg);
			}
		}
		&_left {
			&:before {
				transform: rotate(135deg);
			}
		}
	}
}
