@import "_vars"; // Импорт переменных всегда первый

html,
body {
	overflow-x: hidden;
}
body {
	position: relative;
	min-width: 320px;
	font-family: "FuturaFuturisCondExtraBoldC", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;

	@include media(sm) {
		font-size: 20px;
	}
}
main {
	min-height: calc(100vh - 72px - 112px);
}

section {
	position: relative;
}

.chat-bot {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__link {
		text-align: center;
	}
	&__img {
		margin-bottom: 8px;
	}
}

.social {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item {
		width: 40px;
		height: 40px;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

.h1,
.h2,
.h3,
.h4 {
	font-family: "FuturaFuturisCondExtraBoldC", sans-serif;
	font-weight: 800;
	font-style: normal;
	color: $text2;
	margin: 0;
}

.h1 {
	font-size: 66px;
	line-height: 74px;

	@include media(xs) {
		font-size: 40px;
		line-height: 45px;
	}
}

.h2 {
	font-size: 60px;
	line-height: 67px;
	letter-spacing: 0.26px;

	@include media(xs) {
		font-size: 36px;
		line-height: 40px;
	}
}

.h3 {
	font-size: 24px;
	line-height: 27px;
}

.h4 {
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.26px;
}

.h5	 {
	font-family: "FuturaBookC", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	line-height: 34px;
	color: $text2;
	margin: 0;
}

.h6	 {
	font-family: "FuturaFuturisC", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

.link {
	font-family: "FuturaBookC", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.2px;
	text-decoration-line: underline;
	color: $text2;
}

.b-content {
	*:last-child {
		margin: 0;
	}

	p {
		font-family: "FuturaBookC", sans-serif;
		color: $text4;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		line-height: 20px;
	}
	&_p1 {
		p {
			font-size: 24px;
			line-height: 32px;
			@include media(xs) {
				font-size: 20px;
			}
		}
	}
	&_p2 {
		p {
			letter-spacing: 1.2px;
		}
	}
	&_p3 {
		p {
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.2px;
		}
	}
	&_color {
		&_1 {
			p {
				color: $text1;
			}
		}
		&_2 {
			p {
				color: $text5;
			}
		}
		&_3 {
			p {
				color: $text6;
			}
		}
		&_4 {
			p {
				color: $text2;
			}
		}
	}

	strong {
		font-family: "FuturaBookC", sans-serif;
		color: #242424;
	}
}

.close-button {
	background-image: url("#{$url-img}/close_button.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 32px;
	height: 32px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
}

.button {
	background-color: $bg1;
	color: $color1Btn;
	border-color: $color1Btn;
	border-style: solid;
	border-width: 3px;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 18px 30px;
	font-family: "Futura PT", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 1.2px;
	text-align: center;
	@include media(xs) {
		display: inline-block;
	}
}
.button:hover {
	color: $colorHoverBtn;
	border-color: $colorHoverBtn;
}
.button_light {
	background-color: transparent;
	border-color: $color2Btn;
	color: $color2Btn;
}
.button[disabled] {
	border-color: $colorDisableBtn;
	color: $colorDisableBtn;
}

.input,
.textarea,
.select,
.multiselect {
	border-color: $bg2;
	border-style: solid;
	outline: none;
	cursor: pointer;
}

.input-alert {
	display: none;
	position: absolute;
	bottom: -24px;
	height: 24px;
	color: #ff001f;
}
.input {
	background-color: transparent;
	border-width: 0 0 2px;
	&_light {
		border-color: $bg1;
	}
}

.textarea {
	border-width: 2px;
	&_light {
		border-color: $bg1;
	}
	&_error {
		border-color: #ff001f;
	}
}

.select {
	background-color: transparent;
	background-image: url("../img/icons/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: right 9px center;
	appearance: none;
	border-width: 0 0 2px;
	padding-bottom: 4px;
	font-family: "FuturaBookC", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 1.2px;
	color: $text6;
}

.multiselect {
	border-radius: 2px;
	border-width: 2px;
}

.input,
.textarea,
.select,
.multiselect {
	&:focus,
	&:active {
		border-color: $bg4;
	}
}

.input-wrap {
	position: relative;
	&_error {
		.input,
		.textarea {
			border-color: #ff001f;
		}
		.input-alert {
			display: block;
		}
	}
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;

	&__minus,
	&__plus {
		display: block;
		@include b4col(16px);
		height: 16px;
		padding: 0;
		border: none;
		outline: none !important;
		background-color: transparent;
		cursor: pointer;
	}

	&__minus {
		background-image: url("#{$url-img}/icons/minus.svg");
	}

	&__plus {
		background-image: url("#{$url-img}/icons/plus.svg");
	}

	&__field {
		display: block;
		@include b4col(32px);
		height: 32px;
		margin: 0 16px;
		padding: 3px 0 0;
		border: 1px solid #779bab;
		border-radius: 2px;
		font-family: "FuturaBookC", sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		color: #242424;
		text-align: center;

		/* Chrome, Safari, Edge, Opera */
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		-moz-appearance: textfield;
	}
}

.checkbox {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 32px;
		height: 32px;
		background-color: $bg1;
		border: 2px solid $bg2;
		box-sizing: border-box;
		border-radius: 2px;
		cursor: pointer;
	}
	&:hover {
		&:before {
			background-color: #e5f0f5;
		}
	}
	&:after {
		content: "";
		position: absolute;
		opacity: 0;
		top: 8px;
		left: 6px;
		width: 20px;
		height: 16px;
		background-image: url("../img/icons/check.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&_small {
		&:before {
			width: 24px;
			height: 24px;
		}
		&:after {
			top: 4px;
			left: 2px;
		}
	}
}
.input-checkbox {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}
.input-checkbox:checked + .checkbox {
	&:after {
		opacity: 1;
	}
}
.input-checkbox:focus + .checkbox {
	&:before {
		outline: 1px solid $bg4;
	}
}

.form-search-input {
	width: 100%;
	font-family: "FuturaBookC", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 1.2px;
	color: #000;
	border-width: 0 0 1px;
	border-color: $bg2;
	border-style: solid;
	padding-bottom: 10px;
}
.search-button {
	cursor: pointer;
	background-color: transparent;
	border: none;
	&__icon {
		height: 24px;
		width: 24px;
	}
}

